@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background-image: url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading {
    color: white;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
